<% contacts ||= [] %>
<% contact ||= nil %>
<%= form_with(model: [:account, message], local: true,
              class: 'py-2') do |form| %>
<div class="overflow-hidden bg-white border border-gray-200 rounded-lg shadow">
  <div class="px-4 py-5 sm:p-6">
    <div class="mb-4">
      <% if contact %>
        <%= form.hidden_field(:contact_id, value: contact.id) %>
      <% else %>
        <%= form.label(:contact, class: 'form-label ') %>
        <%= form.select(:contact_id, contacts.collect { |c| ["#{c.to_s} (#{c.phone})", c.id] }, {}, id: 'contact', class: 'form-select mt-1 block w-full') %>
      <% end %>
    </div>
    <div class="mb-4">
      <%= form.label(:content, class: 'form-label ') %>
      <%= form.text_area(:content, id: 'content', autofocus: true, rows: 10,
                                    class: 'shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker') %>
    </div>
  </div>
  <div class="px-4 py-4 bg-gray-50 sm:px-6">
    <div class="flex items-center justify-end">
      <%= form.submit(class: 'btn btn-green btn-bounce sm:text-base sm:px-4 sm:py-2') %>
    </div>
  </div>
</div>
<% end %>
