<div class="flex flex-col p-4 mb-4 w-4/5 border border-blue bg-blue-400 rounded-lg">
  <div class="mb-2">
    <%= simple_format(message.content) %>
  </div>
  <div class="flex justify-between mb-4">
    <div class="">
      <%= t('.status') %>: <%=message.status %>
    </div>
    <div class="">
      <%= t('.sent_by', user: message.user) %>
    </div>
    <div class="">
      <%= l(message.processed_at, format: :short) if message.processed_at? %>
    </div>
  </div>
</div>