<div class="grid flex-grow grid-cols-1 overflow-hidden bg-white sm:rounded-b md:grid-cols-3">
  <div>
    <div class="px-4 py-5 sm:p-6">
      <dl>
        <dt class="text-base font-normal leading-6 text-gray-900">
          <%= t('.new_projects') %>
        </dt>
        <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold leading-8 text-indigo-600">
            <%= @project_count_week %>
            <span class="ml-2 text-sm font-medium leading-5 text-gray-500">
              (last week <%= @project_count_last_week %>)
            </span>
          </div>
          <div
            class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">
              Increased by
            </span>
            12%
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="border-t border-gray-200 md:border-0 md:border-l">
    <div class="px-4 py-5 sm:p-6">
      <dl>
        <dt class="text-base font-normal leading-6 text-gray-900">
          <%= t('.time_logs') %>
        </dt>
        <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold leading-8 text-indigo-600">
            <%= @task_count_week %> (hours here)
            <span class="ml-2 text-sm font-medium leading-5 text-gray-500">
              up from <%= @task_count_last_week %>
            </span>
          </div>
          <div
            class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">
              Increased by
            </span>
            7%
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="border-t border-gray-200 md:border-0 md:border-l">
    <div class="px-4 py-5 sm:p-6">
      <dl>
        <dt class="text-base font-normal leading-6 text-gray-900">
          <%= t('.invoices') %>
        </dt>
        <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold leading-8 text-indigo-600">
            <%= @invoice_count_week %>
            <span class="ml-2 text-sm font-medium leading-5 text-gray-500">
              from <%= @invoice_count_last_week %>
            </span>
          </div>
          <div
            class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z"
                clip-rule="evenodd" />
            </svg>
            <span class="sr-only">
              Decreased by
            </span>
            4.05%
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>
