<% content_for(:sidebar) do %>
<%= render('application/sidebar', current: :space) %>
<% end %>
<% content_for(:heading_title) do %>
  <%= t('.dashboard')%>
<% end %>
<% content_for(:heading_icon) do %>
<svg class="w-5 h-5 ml-2 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"/>
</svg>
<% end %>
<% content_for(:right_content) do %>
  <div class="flex flex-wrap-reverse justify-end">
    <%= link_to(new_account_contact_path, class: 'btn btn-green btn-bounce sm:text-base sm:px-4 sm:py-2') do %>
      <svg class="-ml-0.5 mr-1 h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
        clip-rule="evenodd" />
      </svg>
      <%= t('.contact') %>
    <% end %>
    <div>
      <%= link_to(new_account_message_path, class: 'btn btn-blue btn-bounce sm:text-base sm:px-4 sm:py-2 ml-2') do %>
        <svg class="-ml-0.5 mr-1 h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
          d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
          clip-rule="evenodd" />
        </svg>
        <%= t('.message') %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="grid w-full grid-flow-row gap-4 px-4 pb-16 mt-16 mb-auto max-w-screen-xxl">
  <div x-data="{ tab: 'week' }" class="col-span-8">
    <div class="flex flex-col border shadow sm:rounded">
      <div class="">
        <div class="flex items-center justify-between px-3 -mx-px -mt-px bg-white border rounded-t xl:px-6">
          <h3 class="py-4 text-base font-normal text-blue-500 sm:text-lg">
            <%= t('.statistics') %>
          </h3>
          <div>
            <div class="sm:hidden">
              <select aria-label="Selected tab" class="block w-full form-select">
                <option><%= t('.week') %></option>
                <option><%= t('.month') %></option>
                <option><%= t('.year') %></option>
                <option><%= t('.total') %></option>
              </select>
            </div>
            <div class="hidden sm:block">
              <nav class="flex text-gray-500">
                <button button :class="{ 'text-indigo-700 bg-indigo-100 font-semibold': tab === 'week' }"
                  @click="tab = 'week'"
                  class="px-3 py-2 text-sm font-medium leading-5 rounded-md hover:text-indigo-700 focus:outline-none focus:text-gray-700 focus:bg-gray-100">
                  <%= t('.week') %>
                </button>
                <button button :class="{ 'text-indigo-700 bg-indigo-100 font-semibold': tab === 'month' }"
                  @click="tab = 'month'"
                  class="px-3 py-2 ml-4 text-sm font-medium leading-5 rounded-md hover:text-indigo-700 focus:outline-none focus:text-gray-700 focus:bg-gray-100">
                  <%= t('.month') %>
                </button>
                <button button :class="{ 'text-indigo-700 bg-indigo-100 font-semibold': tab === 'year' }"
                  @click="tab = 'year'"
                  class="px-3 py-2 ml-4 text-sm font-medium leading-5 rounded-md hover:text-indigo-700 focus:outline-none focus:text-gray-700 focus:bg-gray-100">
                  <%= t('.year') %>
                </button>
                <button button :class="{ 'text-indigo-700 bg-indigo-100 font-semibold': tab === 'total' }"
                  @click="tab = 'total'"
                  class="px-3 py-2 ml-4 text-sm font-medium leading-5 rounded-md hover:text-indigo-700 focus:outline-none focus:text-gray-700 focus:bg-gray-100">
                  <%= t('.total') %>
                </button>
              </nav>
            </div>
          </div>
        </div>
        <%= render("stats") %>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="bg-white border shadow sm:rounded">
      <div class="border-b">
        <div class="flex justify-between px-6 -mb-px">
          <h3 class="py-4 text-lg font-normal text-blue-700"><%= t('.recent_messages') %></h3>
        </div>
      </div>
      <% if @messages.any? %>
        <table class="min-w-full table-fixed">
          <tbody class="bg-white">
            <% @messages.each do |message| %>
            <%= render('messages/status_row', message: message) %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
