<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :space) %>
<% end %>

<div class="w-full border-b py-2 border-grey">
  <h1 class="text-2xl font-semibold"><%= title(@space.title) %></h1>
</div>
<div class="w-full lg:w-2/4 p-3">
  <%= render('messages/form', contacts: @space.contacts, message: @message) %>
</div>
<% if @messages %>
  <div class="w-full lg:w-2/4 p-3">
    <h2 class="text-lg font-semibold"><%= t('.sent_messages') %></h2>
    <%= render(@messages) %>
  </div>
<% end %>
