<div class="flex w-full justify-center mb-32">
  <div class="w-full md:w-1/3 text-center h-full mb-3">
    <h1 class="text-4xl font-semibold"><%= title(t('.welcome')) %></h1>
    <p class="text-lg mt-2 text-gray-600">
      <%= t('.short_description') %>
    </p>
  </div>
</div>

<div class="flex w-full justify-center">
  <div class="w-full md:w-1/3 text-center h-full mb-3">
    <h2 class="text-2xl font-semibold text-center"><%= t('.send_by_template') %></h2>
    <%= simple_format(t('.send_by_template_description'), class: 'text-lg mt-2 text-gray-600')%>
    <div class="w-64 border border-gray-600 rounded-lg p-2 mx-auto">
      Hej <span class="bold underline text-green-500"><%= ['David', 'Arthur', 'Josefine', 'Magnus'].sample %></span>!<br>
      Din leverans sker
      <span class="bold underline text-green-500"><%= I18n.l(Time.current + rand(10..30).days, format: :date) %></span>.<br>
      För ombokning eller andra frågor,
      vänligen svara på detta meddelande
      eller ring<br>
      <span class="bold underline text-green-500"><%= "070-#{'%03d' % rand(0..999)} #{'%02d' % rand(0..99)} #{'%02d' % rand(0..99)}"%></span>.
    </div>
  </div>
  <div class="flex flex-col w-full md:w-1/3 justify-center text-center h-full mb-3">
    <div class="mb-3">
      <h2 class="text-2xl font-semibold"><%= t('.company_name') %></h2>
      <%= simple_format(t('.company_name_description'), class: 'text-lg mt-2 text-gray-600')%>
    </div>
    <div>
      <%= image_tag('company-name.png', class: 'mx-auto') %>
    </div>
  </div>
  <div class="w-full md:w-1/3 text-center h-full mb-3">
    <h2 class="text-2xl font-semibold"><%= t('.accept_answers') %></h2>
    <p class="text-lg mt-2 text-gray-600">
      <%= t('.accept_answers_description') %>
    </p>
  </div>
</div>
