<div class="relative overflow-hidden bg-gray-50">
  <div class="relative pt-6 pb-16 md:pb-20 lg:pb-24 xl:pb-24">
    <main class="max-w-screen-xl px-4 mx-auto mt-8 sm:mt-12 md:mt-20 xl:mt-24">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h2
            class="mt-1 text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl">
            Professional customer contact
            <br class="hidden md:inline" />
            <span class="text-blue-600">made effortless
            </span>
          </h2>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            Create professionally looking text templates with your company name as sender.
          </p>
          <div class="mt-5 sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0">
            <p class="text-base font-medium text-gray-900">
              Sign up to get notified when it’s ready.
            </p>
            <form action="#" method="POST" class="mt-3 sm:flex">
              <input aria-label="Email"
                class="block w-full px-3 py-3 text-base leading-6 placeholder-gray-500 transition duration-150 ease-in-out border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:placeholder-gray-400 focus:shadow-outline-blue focus:border-blue-300 sm:flex-1"
                placeholder="Enter your email" />
              <button type="submit"
                class="w-full px-6 py-3 mt-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray active:bg-gray-900 sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto">
                Notify me
              </button>
            </form>
            <p class="mt-3 text-sm leading-5 text-gray-500">
              We care about the protection of your data. Read our
              <a href="#" class="font-medium text-gray-900 underline">Privacy Policy
              </a>.
            </p>
          </div>
        </div>
        <div
          class="relative flex justify-center mt-12 sm:max-w-lg sm:mx-auto lg:-mt-8 lg:max-w-none lg:mx-0 lg:col-span-6 lg:items-center">
          <div class="border rounded-lg shadow-xl xl:ml-32 phone">
            <div class="flex flex-col items-center justify-center text-base font-semibold header">
              <div class="flex items-center justify-center w-10 h-10 text-gray-100 bg-gray-300 rounded-full">
                <%= render('application/icons/customer_new') %>
              </div>
              Company name
            </div>
            <div class="w-32 mt-4 ml-4 rounded-lg">
              <div class="w-64 p-2 mx-auto text-base bg-gray-100 border rounded-lg">
                Hej <span
                  class="text-blue-500 underline bold"><%= ['David', 'Arthur', 'Josefine', 'Magnus'].sample %></span>!<br>
                Din leverans sker
                <span
                  class="text-blue-500 underline bold"><%= I18n.l(Time.current + rand(10..30).days, format: :date) %></span>.<br>
                För ombokning eller andra frågor,
                vänligen svara på detta meddelande
                eller ring<br>
                <span
                  class="text-blue-500 underline bold"><%= "070-#{'%03d' % rand(0..999)} #{'%02d' % rand(0..99)} #{'%02d' % rand(0..99)}"%></span>.
              </div>
            </div>
            <div class="flex justify-end w-full">
              <div class="mt-4 mr-4 rounded-lg">
                <div class="p-2 mx-auto text-base text-white bg-blue-500 rounded-lg">
                  Toppen!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="relative bg-gray-800">
  <div class="h-56 bg-indigo-600 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&blend=6875F5&sat=-100&blend-mode=multiply" alt="Support team" />
  </div>
  <div class="relative max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <div class="text-base font-semibold leading-6 tracking-wider text-gray-300 uppercase">
        Award winning support
      </div>
      <h2 class="mt-2 text-3xl font-extrabold leading-9 tracking-tight text-white sm:text-4xl sm:leading-10">
        We’re here to help
      </h2>
      <p class="mt-3 text-lg leading-7 text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt duis.
      </p>
      <div class="mt-8">
        <div class="flex mt-8">
          <div class="inline-flex rounded-md shadow">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline">
              Get started
            </a>
          </div>
          <div class="inline-flex ml-3">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-indigo-700 transition duration-150 ease-in-out bg-indigo-100 border border-transparent rounded-md hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-16 overflow-hidden bg-gray-50 lg:py-24">
  <div class="relative max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-screen-xl">
    <svg class="absolute hidden transform -translate-x-1/2 lg:block left-full -translate-y-1/4" width="404" height="784"
      fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-orange-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>

    <div class="relative">
      <h3 class="text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl sm:leading-10">
        Håll kontakten med era kunder
      </h3>
      <p class="max-w-3xl mx-auto mt-4 text-xl leading-7 text-center text-gray-500">
        Vi hjälper er att hålla kontakt med era kunder, med hjälp av sms.
      </p>
    </div>

    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative">
        <h4 class="text-2xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-3xl sm:leading-9">
          Transfer funds world-wide
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores
          officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere.
          Totam, velit.
        </p>

        <ul class="mt-10">
          <li>
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md">
                  <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg font-medium leading-6 text-gray-900">Skapa mallar
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Skickar ni ofta liknande meddelande?
                  Skapa en mall och fyll endast i datan som är unik för kunden.
                </p>
              </div>
            </div>
          </li>
          <li class="mt-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md">
                  <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg font-medium leading-6 text-gray-900">Företagsnamn
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Visa ett namn istället för telefonnummer när ni skickar meddelande,
                  det ger ett seriöst intryck!
                </p>
              </div>
            </div>
          </li>
          <li class="mt-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md">
                  <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg font-medium leading-6 text-gray-900">Tillåt svar till samma nummer
                </h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Låt svaren från kunden dyka upp direkt i Synkas användargränssnitt.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="relative mt-10 -mx-4 lg:mt-0">
        <svg class="absolute transform -translate-x-1/2 translate-y-16 left-1/2 lg:hidden" width="784" height="404"
          fill="none" viewBox="0 0 784 404">
          <defs class="text-blue-500">
            <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
        </svg>
        <div
          class="relative flex justify-center mt-12 sm:max-w-lg sm:mx-auto lg:-mt-8 lg:max-w-none lg:mx-0 lg:col-span-6 lg:items-center">
          <div class="border rounded-lg shadow-xl xl:ml-32 phone">
            <div class="flex flex-col items-center justify-center text-base font-semibold header">
              <div class="flex items-center justify-center w-10 h-10 text-gray-100 bg-gray-300 rounded-full">
                <%= render('application/icons/customer_new') %>
              </div>
              Company name
            </div>
            <div class="w-32 mt-4 ml-4 rounded-lg">
              <div class="w-64 p-2 mx-auto text-base bg-gray-100 border rounded-lg">
                Hej <span
                  class="text-blue-500 underline bold"><%= ['David', 'Arthur', 'Josefine', 'Magnus'].sample %></span>!<br>
                Din leverans sker
                <span
                  class="text-blue-500 underline bold"><%= I18n.l(Time.current + rand(10..30).days, format: :date) %></span>.<br>
                För ombokning eller andra frågor,
                vänligen svara på detta meddelande
                eller ring<br>
                <span
                  class="text-blue-500 underline bold"><%= "070-#{'%03d' % rand(0..999)} #{'%02d' % rand(0..99)} #{'%02d' % rand(0..99)}"%></span>.
              </div>
            </div>
            <div class="flex justify-end w-full">
              <div class="mt-4 mr-4 rounded-lg">
                <div class="p-2 mx-auto text-base text-white bg-blue-500 rounded-lg">
                  Toppen!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <svg class="absolute hidden transform translate-x-1/2 translate-y-12 lg:block right-full" width="404" height="784"
      fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
    </svg>

    <div class="relative mt-12 sm:mt-16 lg:mt-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h4 class="text-2xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-3xl sm:leading-9">
            Desktop class messaging
          </h4>
          <p class="mt-3 text-lg leading-7 text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex obcaecati natus eligendi delectus, cum
            deleniti sunt in labore nihil quod quibusdam expedita nemo.
          </p>

          <ul class="mt-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md">
                    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg font-medium leading-6 text-gray-900">Schemalägg meddelanden
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center w-12 h-12 text-white bg-blue-500 rounded-md">
                    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg font-medium leading-6 text-gray-900">Svara kunder
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="relative mt-10 -mx-4 lg:mt-0 lg:col-start-1">
          <svg class="absolute transform -translate-x-1/2 translate-y-16 left-1/2 lg:hidden" width="784" height="404"
            fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20"
                patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
          </svg>
          <img class="relative mx-auto" width="490" src="/img/features/feature-example-2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-900">
  <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <p class="text-2xl font-semibold leading-9 text-white mt- sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
        The right price for you, whoever you are
      </p>
      <p class="max-w-3xl mx-auto mt-3 text-xl leading-7 text-gray-400 sm:mt-5 sm:text-lg sm:leading-8">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos odit doloribus molestiae
        voluptatum.
      </p>
    </div>
  </div>

  <div class="pb-12 mt-16 bg-white lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 bg-gray-900 h-5/6 lg:h-2/3"></div>
      <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="max-w-md mx-auto lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-col flex-1">
                <div class="px-6 py-10 bg-white">
                  <div>
                    <h3 class="text-2xl font-medium leading-8 text-center text-gray-900" id="tier-hobby">
                      Hobby
                    </h3>
                    <div class="flex items-center justify-center mt-4">
                      <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          79
                        </span>
                      </span>
                      <span class="text-xl font-medium leading-7 text-gray-500">
                        /month
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Pariatur quod similique
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Sapiente libero doloribus
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Vel ipsa esse repudiandae
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#"
                        class="block w-full px-6 py-3 text-base font-medium leading-6 text-center text-indigo-600 transition duration-150 ease-in-out bg-white border border-transparent rounded-lg hover:text-indigo-500 focus:outline-none focus:shadow-outline"
                        aria-describedby="tier-hobby">
                        Start your trial
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="max-w-lg mx-auto mt-10 lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="absolute inset-0 border-2 border-indigo-600 rounded-lg pointer-events-none"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                  <span
                    class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wider text-white uppercase bg-indigo-600 rounded-full">
                    Most popular
                  </span>
                </div>
              </div>
              <div class="px-6 pt-12 pb-10 bg-white rounded-t-lg">
                <div>
                  <h3 class="text-3xl font-semibold leading-9 text-center text-gray-900 sm:-mx-6" id="tier-growth">
                    Growth
                  </h3>
                  <div class="flex items-center justify-center mt-4">
                    <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900 sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        $
                      </span>
                      <span class="font-extrabold">
                        149
                      </span>
                    </span>
                    <span class="text-2xl font-medium leading-8 text-gray-500">
                      /month
                    </span>
                  </div>
                </div>
              </div>
              <div class="px-6 pt-10 pb-8 border-t-2 border-gray-100 rounded-b-lg bg-gray-50 sm:px-10 sm:py-10">
                <ul>
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                      Quia rem est sed impedit magnam
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                      Dolorem vero ratione voluptates
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                      Qui sed ab doloribus voluptatem dolore
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                      Laborum commodi molestiae id et fugiat
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                      Nam ut ipsa nesciunt culpa modi dolor
                    </p>
                  </li>
                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="#"
                      class="block w-full px-6 py-4 text-xl font-medium leading-6 text-center text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-lg hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo"
                      aria-describedby="tier-growth">
                      Start your trial
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="max-w-md mx-auto mt-10 lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-col flex-1">
                <div class="px-6 py-10 bg-white">
                  <div>
                    <h3 class="text-2xl font-medium leading-8 text-center text-gray-900" id="tier-scale">
                      Scale
                    </h3>
                    <div class="flex items-center justify-center mt-4">
                      <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          349
                        </span>
                      </span>
                      <span class="text-xl font-medium leading-7 text-gray-500">
                        /month
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Pariatur quod similique
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Sapiente libero doloribus
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium leading-6 text-gray-500">
                        Vel ipsa esse repudiandae
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#"
                        class="block w-full px-6 py-3 text-base font-medium leading-6 text-center text-indigo-600 transition duration-150 ease-in-out bg-white border border-transparent rounded-lg hover:text-indigo-500 focus:outline-none focus:shadow-outline"
                        aria-describedby="tier-scale">
                        Start your trial
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-screen-xl px-4 pt-12 pb-16 mx-auto sm:pt-16 sm:pb-20 sm:px-6 lg:pt-20 lg:pb-28 lg:px-8">
    <h2 class="text-3xl font-extrabold leading-9 text-gray-900">
      Frequently asked questions
    </h2>
    <div class="pt-10 mt-6 border-t-2 border-gray-100">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">
              What's the best thing about Switzerland?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg font-medium leading-6 text-gray-900">
              How do you make holy water?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg font-medium leading-6 text-gray-900">
              What do you call someone with no body and no nose?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">
              Why do you never see elephants hiding in trees?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg font-medium leading-6 text-gray-900">
              Why can't you hear a pterodactyl go to the bathroom?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Because the pee is silent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg font-medium leading-6 text-gray-900">
              Why did the invisible man turn down the job offer?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                He couldn't see himself doing it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
<footer>
  <%= render('footer') %>
</footer>
