<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :settings) %>
<% end %>
<div class="w-full border-b py-2 border-grey">
  <h1 class="text-xl font-semibold"><%= t('.title') %></h1>
</div>
<div class="flex w-full p-2 mb-4">
  <div class="w-full lg:w-1/2 border-2 border-gray-600 p-4">
    <div class="flex border-b justify-between">
      <div class="p-2 text-xl">
        Account
      </div>
      <%= icon('far', 'address-card', class: 'fa-2x p-2') %>
    </div>
    <div class="flex px-4 mt-6 text-grey">
      User name:
    </div>
    <div class="flex px-4 mt-2 mb-6">
      <%= current_user.name %>
    </div>
    <div class="flex px-4 mt-2 text-grey">
      Email:
    </div>
    <div class="px-4 mt-2 mb-6">
      <%= current_user.email %>
    </div>
    <%= link_to(t('.edit_account'), account_path, class: 'button button-gray') %>
  </div>
  <div class="w-full lg:w-1/2 border-2 border-gray-600 p-4">
    <div class="flex justify-between border-b">
      <div class="p-2 text-xl">
        Premium Plan
      </div>
      <%= icon('far', 'plus-square', class: 'fa-2x p-2') %>
    </div>
    <div class="p-2">
      <div class="block mb-4">
        With the premium plan you can blablal jnsak kmasjnk janskjbakjb ajhbsjkabskj jbsjfh hbshbeh hebfhjebjhbx hebd hebdjheb.
      </div>
      <%= link_to(t('.upgrade'), account_path, class: 'button button-green') %>
    </div>
  </div>
</div>
