<% content_for(:sidebar) do %>
<%= render('application/sidebar', current: :contacts) %>
<% end %>
<% content_for(:header_title) do %>
<%= t(".title") %>
<% end %>
<div x-data="{ tab: 'account' }" class="flex-grow w-full bg-gray-100">
  <%= render("heading") %>
  <div class="px-2 pb-4 lg:p-3 xl:p-6">
    <div class="max-w-screen-xl pb-20">
      <div x-show="tab === 'account'" class="">
        <%= render("account") %>
      </div>
      <div x-show="tab === 'billing'" class="">
        <%= render("billing") %>
      </div>
    </div>
  </div>
</div>
