<div class="flex justify-between w-full px-4 py-2 bg-white border-b-2 border-green-500 lg:hidden">
  <div class="mb-1 leading-tight">
    <h1 class="text-3xl font-bold text-gray-800"><%= t('.title') %></h1>
    <h2 class="text-xl font-medium text-green-600">All Customers</h2>
  </div>
  <div class="flex items-start mt-1">
    <%= link_to(new_account_contact_path, class: 'btn btn-green normal-case text-base') do %>
      <%= t('.new_customer') %>
    <% end %>
  </div>
</div>
<div class="flex items-center justify-start w-full lg:mb-2 lg:justify-between">
  <div class="hidden lg:flex">
    <h2 class="text-2xl font-semibold leading-none text-gray-900 xl:text-3xl">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="flex items-start hidden ml-2 lg:flex">
    <%= link_to(new_account_contact_path, class: 'btn btn-green btn-bounce sm:text-base sm:px-4 sm:py-2') do %>
      <div class="mr-1 -ml-1">
        <%= render('application/icons/plus') %>
      </div>
      <%= t('.new_customer') %>
    <% end %>
  </div>
</div>
