<tr class="border-b border-gray-200">
  <td class="w-1/6 px-2 py-4 whitespace-no-wrap sm:w-1/3 md:w-1/5 lg:px-2 xl:px-6">
    <%= link_to(account_contact_path(contact)) do %>
    <div class="flex items-center">
      <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
        <div
          class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded-full md:h-10 md:w-10 md:text-sm lg:text-base">
          <%= contact.initials %>
        </div>
      </div>
      <div class="ml-2 sm:ml-4">
        <div class="text-xs font-medium leading-5 text-gray-900 sm:text-sm"><%= contact.name %>
        </div>
        <div class="hidden text-sm leading-5 text-gray-500 sm:block">Customer
        </div>
        <div class="w-24 text-xs leading-5 text-gray-500 truncate sm:text-sm sm:hidden"><%= contact.phone %>
        </div>
      </div>
    </div>
    <% end %>
  </td>
  <td class="w-1/6 px-2 py-4 md:px-6 lg:px-2 xl:px-6">
    <div class="text-xs leading-5 text-gray-500 sm:text-sm">
      <%= contact.phone %>
    </div>
  </td>
  <td class="w-1/6 px-2 py-4 whitespace-no-wrap md:px-6 lg:px-2 xl:px-6">
    <div class="text-xs leading-5 text-gray-500 sm:text-sm">
      <%= contact.messages.count %>
    </div>
  </td>
  <td class="w-1/6 px-2 py-4 whitespace-no-wrap md:px-6 lg:px-2 xl:px-6">
    <div class="text-xs leading-5 text-gray-500 sm:text-sm">
      <%= l(contact.created_at, format: "%Y-%m-%d") %>
    </div>
  </td>
  <td class="w-1/6 px-2 py-4 whitespace-no-wrap md:px-6 lg:px-2 xl:px-6">
    <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">

    </span>
  </td>
  <td class="w-1/6 px-2 py-4 whitespace-no-wrap md:px-6 lg:px-2 xl:px-6">
    <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">

    </span>
  </td>
  <td class="w-1/12 px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap">
    <div class="relative inline-block text-left" @click.away="edit_dropdown = false" x-data="{ edit_dropdown: false }">
      <div class="flex items-center justify-center cursor-pointer" @click="edit_dropdown = !edit_dropdown"
        @click="edit_dropdown = true">
        <svg class="w-6 h-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
        </svg>
      </div>
      <div class="-mt-4">
        <%= render('contacts/edit_dropdown', contact: contact) %>
      </div>
    </div>
  </td>
</tr>
