<% search = false if search.nil?%>
<div class="mt-16 bg-white shadow-md">
  <div class="flex-grow">
    <div class="bg-gray-100 border-b">
      <div class="flex flex-grow py-4">
        <div class="flex items-center justify-center px-2 sm:px-4 xl:px-6">
          <div class="w-8 md:w-10">
          </div>
        </div>
        <div class="flex flex-grow text-xs font-semibold text-blue-900 uppercase md:text-sm">
          <div class="w-1/3 lg:w-1/5">
            <%= Contact.human_attribute_name(:name) %>
          </div>
          <div class="w-1/3 pr-2 lg:w-1/5">
            <%= Contact.human_attribute_name(:messages) %>
          </div>
          <div class="hidden w-1/5 pr-2 lg:flex">
            <%= t('.active_projects') %>
          </div>
          <div class="w-1/3 lg:w-1/5">
            <%= t('.unpaid') %>
          </div>
          <div class="hidden w-1/5 lg:w-1/5 lg:flex">
            <%= t('.status') %>
          </div>
        </div>
        <div class="flex w-1/6 text-xs font-semibold text-blue-900 uppercase lg:w-1/6 lg:hidden md:text-sm">
          <%= t('.status') %>
        </div>
      </div>
    </div>
    <% if (contacts.empty?) %>
      <% if search %>
        <%= render('contacts/empty') %>
      <% else %>
        <%= render('contacts/empty_search') %>
      <% end %>
    <% else %>
      <% contacts.each_with_index do |contact, idx| %>
        <%= render('contacts/row', contact: contact, odd: idx % 2 == 0) %>
      <% end %>
    <% end %>
    <div class="flex flex-col items-end justify-center px-3 bg-white xs:flex-row">
      <div class="flex items-center px-2 py-4 align-middle">
        <!--Pagy-->
      </div>
    </div>
  </div>
</div>
