
<% if contacts.any? %>
  <table class="table-auto w-full text-left">
    <thead class="py-1">
      <tr>
        <th class="bg-blue-100 border-2 border-blue-800 p-3">
          <%= Contact.human_attribute_name(:name) %>
        </th>
        <th class="bg-blue-100 border-2 border-r-0 border-blue-800 p-3">
          <%= Contact.human_attribute_name(:messages) %>
        </th>
        <th class="bg-blue-100 border-2 border-blue-800 p-3">
        </th>
      </tr>
    </thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr>
          <td class="border-2 border-blue-800 p-3">
            <%= link_to(contact, account_contact_path(contact)) %>
          </td>
          <td class="border-2 border-blue-800 p-3">
            <%= contact.messages.count %>
          </td>
          <td class="border-2 border-blue-800 p-3">
            <%= link_to(t('.edit'), edit_account_contact_path(contact)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= simple_format(t('.no_contacts')) %>
<% end %>