<div class="absolute inset-0 pt-16 pb-4 overflow-y-auto">
  <div class="flex-grow">
    <table class="min-w-full table-fixed">
      <thead>
        <tr>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:name) %>
          </th>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:phone) %>
          </th>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:messages) %>
          </th>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:last_message) %>
          </th>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:last_contacted_by) %>
          </th>
          <th class="w-1/6 px-6 py-4 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
            <%= Contact.human_attribute_name(:created) %>
          </th>
          <th class="w-1/12 px-6 py-4 border-b border-gray-200 bg-gray-50"></th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% if contacts.any? %>
        <% contacts.each_with_index do |contact, idx| %>
          <%= render('contacts/row', contact: contact, odd: idx % 2 == 0) %>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
