<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :contacts) %>
<% end %>
<% content_for(:heading_title) do %>
  <%= t('.contacts')%>
<% end %>
<% content_for(:heading_icon) do %>
<svg class="w-5 h-5 ml-2 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
</svg>
<% end %>
<% content_for(:right_content) do %>
  <%= link_to(new_account_contact_path, class: 'btn btn-green btn-bounce text-xs sm:px-3 sm:py-2') do %>
  <div class="mr-1 -ml-1">
    <%= render('application/icons/plus') %>
  </div>
  <%= t('.new_contact') %>
  <% end %>
<% end %>

<div class="flex-grow">
  <div id="customers-table" class="px-2 pb-4 lg:px-0">
    <%= render("table", contacts: @space.contacts) %>
  </div>
</div>
