<% content_for(:sidebar) do %>
  <%= render('application/sidebar', current: :contacts) %>
<% end %>

<div class="w-full border-b py-2 border-grey">
  <h1 class="text-xl font-semibold"><%= t('.title') %></h1>
</div>
<div class="w-full lg:w-3/4 xl:w-2/3 p-3">
  <div class="py-4">
    <%= render('contacts/table', contacts: @space.contacts) %>
  </div>
  <div class="mt-4">
    <%= link_to(t('.new_contact'), new_account_contact_path(@space), class: 'button button-blue') %>
    <%= link_to(t('.import_contacts'), new_account_contact_path(@space), class: 'button button-gray') %>
  </div>
</div>