<% content_for(:sidebar) do %>
<%= render('application/sidebar', current: @contact.space) %>
<% end %>
<% content_for(:heading_title) do %>
<div class="flex items-center">
  <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
    <div
      class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded-full md:h-10 md:w-10 md:text-sm lg:text-lg">
      <%= @contact.initials %>
    </div>
  </div>
  <div class="ml-2 sm:ml-4">
    <div class="text-sm font-medium leading-5 text-gray-900 md:text-sm">
      <%= @contact.name %>
    </div>
    <div class="text-xs leading-5 text-gray-500 md:text-sm">
      <% if @contact.phone.present? %>
      <%= @contact.phone %>
      <% else %>
      No phone number
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% content_for(:right_content) do %>
<%= link_to(t('.edit'), edit_account_contact_path, class: 'btn btn-blue btn-bounce text-xs sm:px-3 sm:py-2') %>
<% end %>



<div x-data="{ tab: 'message' }" class="grid h-auto grid-flow-col grid-cols-10 gap-4 p-0 mt-16 md:p-4 xl:p-6">
  <div class="hidden col-start-1 col-end-4 md:block xl:col-end-3">
    <div class="flex flex-col items-center justify-center w-full p-8 bg-white rounded shadow">
      <div
        class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded-full md:h-16 md:w-16 md:text-sm lg:text-2xl">
        <%= @contact.initials %>
      </div>
      <div class="mt-4 text-xs font-medium leading-5 text-gray-900 sm:text-lg">
        <%= @contact.name %>
      </div>
      <div class="mt-6 text-xs btn btn-green btn-bounce">
        Active
      </div>
    </div>
    <div class="flex flex-col justify-center w-full p-6 mt-4 bg-white rounded shadow">
      <div class="flex">
        <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
          <div
            class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded md:h-10 md:w-10 md:text-sm lg:text-lg">
            <svg class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <div class="ml-2 sm:ml-4">
          <div class="text-xs font-medium leading-5 text-gray-500 sm:text-sm">
            First name
          </div>
          <div class="hidden text-sm leading-5 text-gray-900 sm:block">
            <%= @contact.name %>
          </div>
        </div>
      </div>
      <div class="flex mt-8">
        <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
          <div
            class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded md:h-10 md:w-10 md:text-sm lg:text-lg">
            <svg class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <div class="ml-2 sm:ml-4">
          <div class="text-xs font-medium leading-5 text-gray-500 sm:text-sm">
            Last name
          </div>
          <div class="hidden text-sm leading-5 text-gray-900 sm:block">
            <%= @contact.name %>
          </div>
        </div>
      </div>
      <div class="flex mt-8">
        <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
          <div
            class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded md:h-10 md:w-10 md:text-sm lg:text-lg">
            <svg class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
            </svg>
          </div>
        </div>
        <div class="ml-2 sm:ml-4">
          <div class="text-xs font-medium leading-5 text-gray-500 sm:text-sm">
            Phone
          </div>
          <div class="hidden text-sm leading-5 text-gray-900 sm:block">
            <%= @contact.phone %>
          </div>
        </div>
      </div>
      <div class="flex mt-8">
        <div class="flex-shrink-0 w-8 h-8 md:w-10 md:h-10">
          <div
            class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold text-green-600 bg-green-200 rounded md:h-10 md:w-10 md:text-sm lg:text-lg">
            <svg class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
            </svg>
          </div>
        </div>
        <div class="ml-2 sm:ml-4">
          <div class="text-xs font-medium leading-5 text-gray-500 sm:text-sm">
            Email
          </div>
          <div class="hidden text-sm leading-5 text-gray-900 sm:block">
            <%= @contact.email %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 xl:hidden">
      <div class="p-6 bg-white rounded shadow">
        <div class="mb-4">
          Add notes
        </div>
        <%= form_with(local: true) do |form| %>
        <%= form.text_area(:content, id: 'content', rows: 8,
                                  class: 'shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-grey-darker') %>
        <% end %>
        <div class="flex items-center justify-end mt-2">
          <%= link_to(t('.save'), root_path, class: 'btn btn-blue btn-bounce text-xs sm:px-3 sm:py-2') %>
        </div>
      </div>
      <div class="p-6 mt-4 bg-white rounded shadow">
        <div class="mb-4">
          Notes
        </div>
      </div>
    </div>
  </div>
  <div class="hidden col-start-1 col-end-3 xl:block xl:col-start-9 xl:col-end-11">
    <div class="p-6 bg-white rounded shadow">
      <div class="mb-4">
        Add notes
      </div>
      <%= form_with(local: true) do |form| %>
      <%= form.text_area(:content, id: 'content', rows: 8,
                                  class: 'shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-grey-darker') %>
      <% end %>
      <div class="flex items-center justify-end mt-2">
        <%= link_to(t('.save'), root_path, class: 'btn btn-blue btn-bounce text-xs sm:px-3 sm:py-2') %>
      </div>
    </div>
    <div class="p-6 mt-4 bg-white rounded shadow">
      <div class="mb-4">
        Notes
      </div>
    </div>
  </div>
  <div class="col-start-1 col-end-11 row-span-1 md:col-start-4 xl:col-start-3 xl:col-end-9">
    <div
      class="flex items-center w-full h-12 mb-2 text-center text-blue-500 bg-white border border-gray-200 rounded shadow md:h-16">
      <button button :class="{ 'text-white bg-blue-500 font-semibold': tab === 'message' }" @click="tab = 'message'"
        class="flex items-center justify-center w-1/3 h-full border-r-2 border-gray-200 hover:bg-blue-500 hover:text-white">
        <svg class="w-4 h-4 md:w-6 md:h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
            clip-rule="evenodd" />
        </svg>
        <span class="ml-1 text-sm font-medium md:ml-2 lg:text-lg">
          Message
        </span>
      </button>
      <button button :class="{ 'text-white bg-blue-500 font-semibold': tab === 'template' }" @click="tab = 'template'"
        class="flex items-center justify-center w-1/3 h-full border-r-2 border-gray-200 hover:bg-blue-500 hover:text-white">
        <svg class="w-4 h-4 md:w-6 md:h-6" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
          <path fill-rule="evenodd"
            d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
            clip-rule="evenodd" />
        </svg>
        <span class="ml-1 text-sm font-medium md:ml-2 lg:text-lg">
          Template
        </span>
      </button>
      <button button :class="{ 'text-white bg-blue-500 font-semibold': tab === 'conversation' }"
        @click="tab = 'conversation'"
        class="flex items-center justify-center w-1/3 h-full border-r-2 border-gray-200 hover:bg-blue-500 hover:text-white">
        <svg class="w-4 h-4 md:w-6 md:h-6" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
          <path
            d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
        </svg>
        <span class="ml-1 text-sm font-medium md:ml-2 lg:text-lg">
          Conversation
        </span>
      </button>
    </div>
    <%= render('messages/form', contact: @contact, message: @message) %>
    <div class="p-4 mt-4 bg-white border border-gray-200 rounded shadow">
      <% if @messages %>
      <h2 class="mb-6 text-lg font-semibold"><%= t('.most_recent_messages') %></h2>
      <%= render(@messages, hide_user: true) %>
      <% end %>
    </div>
  </div>
</div>

<!--<div class="flex flex-wrap mt-16 ">
  <div class="w-full lg:w-1/2 xl:w-2/3">
    <div class="p-6">
      <%= render('messages/form', contact: @contact, message: @message) %>
    </div>
  </div>
  <div class="w-full h-full bg-gray-500 lg:w-1/2 xl:w-1/3">

  </div>
</div>
-->
