<nav class="flex items-center flex-row flex-wrap justify-between p-6 border-b-2 bg-white">
  <div class="flex items-center flex-no-shrink mr-6">
    <%= link_to(root_url, class: 'no-underline text-blue') do %>
      <span class="font-semibold text-xl tracking-light"><%= t('.title') %></span>
    <% end %>
  </div>

  <div>
    <% if signed_in? %>
      <%= link_to(t('.sign_out'), sign_out_path, method: :delete,
                  class: 'button button-grey') %>
    <% else %>
      <%= link_to(t('.sign_in'), sign_in_path,
                  class: 'button button-blue') %>
    <% end %>
    <%= link_to(t('.start'), root_path,
                class: 'button bg-green text-white hover:bg-green-dark hidden sm:inline') %>
  </div>
</nav>
