<nav class="flex items-center flex-row flex-wrap justify-between p-6 border-b-2 bg-white">
  <div class="flex items-center flex-no-shrink mr-6">
    <%= image_tag('logo_animated.svg', class: 'h-16 w-16 mr-2') %>
    <span class="font-semibold text-xl text-blue tracking-light"><%= t('.title') %></span>
  </div>

  <div>
    <% if signed_in? %>
      <%= link_to(t('.sign_out'), sign_out_path, method: :delete,
                  class: 'button button-grey') %>
    <% else %>
      <%= link_to(t('.sign_in'), sign_in_path,
                  class: 'button button-blue') %>
    <% end %>
    <%= link_to(t('.start'), root_path,
                class: 'button bg-green text-white hover:bg-green-dark hidden sm:inline') %>
  </div>
</nav>
