<nav class="bg-white border-b">
  <div class="px-4 mx-auto sm:px-6 lg:px-0">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex items-center flex-shrink-0 w-40 lg:w-48 xl:w-64 lg:pl-8">
          <%= link_to(root_path, class: "inline-flex") do %>
          <%= image_tag('synka_logo.svg', class: 'h-10 w-10 -ml-2 mr-2') %>
          <span class="text-3xl font-medium tracking-light">
            <%= t('general.title')%>
          </span>
          <% end %>
        </div>
        <div class="hidden md:flex">
          <%= link_to(t('.startpage'), root_path, class: "inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-900 transition duration-150 ease-in-out border-b-2 border-indigo-500 focus:outline-none focus:border-indigo-700")%>
          <%= link_to(t('.messages'), account_path, class: "inline-flex items-center px-1 pt-1 ml-8 text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300")%>
          <%= link_to(t('.calendar'), root_path, class: "inline-flex items-center px-1 pt-1 ml-8 text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300")%>
        </div>
      </div>
      <% if signed_in? %>
      <div class="hidden sm:m-6 md:flex sm:items-center">
        <button
          class="p-1 text-gray-400 transition duration-150 ease-in-out border-2 border-transparent rounded-full hover:text-gray-500 focus:outline-none focus:text-gray-500 focus:bg-gray-100"
          aria-label="Notifications">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div class="items-center justify-end hidden md:flex">
            <div @click.away="open = false" class="relative inline-block" x-data="{ open: false }">
              <button @click="open = !open" class="flex items-center text-white focus:outline-none"
                @click="open = true">
                <div
                  class="flex items-center justify-center w-10 h-10 font-bold text-white uppercase bg-blue-700 rounded">
                  AW
                </div>
                <span class="hidden ml-2 mr-2 text-sm font-semibold text-gray-900 md:inline">
                  First Lastname
                  <p class="flex justify-start text-xs text-gray-600">Company</p>
                </span>
                <div class="-mt-4 text-gray-900 transform" :class="{'rotate-180': open}">
                  <%= render('application/icons/arrow_down') %>
                </div>
              </button>
              <%= render('header_dropdown') %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div class="hidden sm:m-6 md:flex sm:items-center">
        <div class="relative ml-3">
          <div class="items-center justify-end hidden md:flex">
            <span class="inline-flex rounded-md shadow-sm">
              <%= link_to(sign_in_path, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-blue-700 transition ease-in-out duration-150") do %>
              <%= t('application.header.sign_in') %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <% end %>
      <div class="flex items-center -mr-2 md:hidden">
        <%= render('application/mobile_menu') %>
      </div>
    </div>
  </div>
</nav>
