<div class="w-full bg-white border-r py-6 text-center text-grey-lighter h-full">
  <div class="mb-6 text-black">
    <h3><%= t('.welcome') %></h3><br>
    <h4><%= current_user %></h4>
  </div>
  <% if current_user.spaces.any? %>
    <div class="mt-8">
      <ul class="">
        <% current_user.spaces.each do |space| %>
          <li class="border-b">
            <%= sidebar_link(space.title, space_path(space),
                            current == space) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-8">
    <ul class="">
      <li class="">
        <%= sidebar_link(t('.overview'), account_path, current == :account) %>
      </li>
      <li class="border-b">
        <%= sidebar_link(t('.settings'), account_settings_path,
                        current == :settings) %>
      </li>
    </ul>
  </div>
</div>
