<% current ||= nil %>
<div class="inset-y-0 left-0 hidden w-48 overflow-y-auto text-gray-200 bg-white border-r xl:w-64 lg:block">
  <nav class="px-6 mt-6">
    <%= sidebar_link(:account, account_path) do %>
      <span class="flex items-center">
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="ml-3">
          <%= t('.home') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link(:contacts, account_contacts_path) do %>
      <span class="flex items-center">
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <span class="ml-3">
          <%= t('.contacts') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link(:messages, account_messages_path) do %>
      <span class="flex items-center">
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
        </svg>
        <span class="ml-3">
          <%= t('.messages') %>
        </span>
      </span>
      <span
      class="inline-block py-1 text-xs font-semibold leading-none text-center text-gray-700 bg-blue-300 rounded-full w-9">
        1
      </span>
    <% end %>
    <%= sidebar_link([:settings], account_settings_path) do %>
      <span class="flex items-center">
        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span class="ml-3">
          <%= t('.settings') %>
        </span>
      </span>
    <% end %>
    <p class="mt-8 ml-4 text-xs font-semibold tracking-wide text-gray-500 uppercase">
      <%= t('.favorites') %>
    </p>
    <%= sidebar_link([], account_url) do %>
      <span class="flex items-center text-sm">
        <span class="w-2 h-2 bg-blue-500 rounded-sm"></span>
        <span class="ml-3">
          <%= t('.Project 1') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link([], account_url) do %>
      <span class="flex items-center text-sm">
        <span class="w-2 h-2 bg-orange-500 rounded-sm"></span>
        <span class="ml-3">
          <%= t('.Project 2') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link([], account_url) do %>
      <span class="flex items-center text-sm">
        <span class="w-2 h-2 bg-green-500 rounded-sm"></span>
        <span class="ml-3">
          <%= t('.Project 3') %>
        </span>
      </span>
    <% end %>
  </nav>
</div>
