<div class="mb-3 w-full flex justify-between">
  <h1 class="font-bold">
    <%= title(@location.title) %>
    <div id="<%= dom_id(@location) %>" data-loaded=false>
      <%= render('locations/status', location: @location, wait: true) %>
    </div>
  </h1>
  <div class="">
    <%= link_to(t('.account'), account_path, class: 'button button-grey') %>
  </div>
</div>

<% @location.connections.each do |c| %>
  <div class="w-1/3 p-4 border border-blue rounded shadow-md m-2 bg-white"
       data-loaded=false
       id="<%= dom_id(c) %>">
    <div class="font-bold text-xl mb-2">
      <%= c %>
    </div>

    <%= link_to(t('.load'), account_location_connection_path(@location, c),
                remote: true,
                class: 'load button bg-blue text-white') %>
  </div>
<% end %>
