<div class="font-bold mb-3 w-full">
  <h1>
    <%= title(@location.title) %>
    <% if @location.synced? %>
      <small class="text-green">
        <%= t('.synchronized') %>
      </small>
    <% else %>
      <small class="text-red">
        <%= t('.desynchronized') %>
      </small>
    <% end %>
  </h1>
</div>


<% @location.connections.each do |c| %>
  <div class="w-1/3 p-4 border border-blue rounded shadow-md m-2 bg-white">
    <div class="font-bold text-xl mb-2">
      <%= c %>
    </div>
    <% if c.local? %>
      <%= render('/connections/connection', location: @location, connection: c) %>
    <% else %>
      <dl class="text-grey-darker text-base">
        <% c.hours.each do |k, v| %>
          <dd><strong><%= week_day(k) %></strong> <%= v.join(' ') %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
