<div class="font-bold mb-3 w-full">
  <h1><%= title(@location.title) %></h1>
</div>

<% @location.connections.each do |c| %>
  <div class="w-1/3 p-4 border border-blue rounded shadow-md m-2 bg-white">
    <div class="font-bold text-xl mb-2">
      <%= c %>
    </div>
    <% if c.local? %>
      <div id="edit-local">
        <%= render('/connections/form', location: @location, connection: c) %>
      </div>
    <% else %>
      <dl class="text-grey-darker text-base">
        <% c.hours.each do |k, v| %>
          <dd><strong><%= k %></strong> <%= v.join(' ') %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
