<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title><%= full_title(t('general.title'), yield(:title)) %></title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= stylesheet_pack_tag('application', media: 'all') %>
    <%= javascript_pack_tag('application') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render('application/favicon') %>
  </head>
  <body>
    <div class="flex flex-col h-full bg-gray-100">
      <header class="lg:hidden">
        <%= render('header') %>
      </header>
      <div class="flex flex-1 lg:overflow-hidden">
        <%= yield(:sidebar) %>
        <main class="relative flex flex-1 lg:overflow-y-auto">
          <%= render('flashes') %>
          <%= render('application/heading') %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
