<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('.title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_pack_tag('application') %>
  </head>
  <body class="site">
    <header>
      <%= render('header') %>
    </header>

    <section class="page-content section">
      <div class="container">
        <% if content_for?(:title) %>
          <h1 class="title"><%= yield(:title) %></h1>
        <% end %>
        <%= render('flashes') %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
