<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(t('general.title'), yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_pack_tag('application') %>
    <%= render('application/favicon') %>
  </head>
  <body class="flex flex-col min-h-screen bg-blue-lightest" style="min-height: 100vh">
    <header>
      <%= render('header') %>
    </header>

    <main class="flex flex-row flex-wrap items-start flex-1 w-full mx-auto border-t-2 border-blue-lighter">
      <% if content_for(:sidebar) %>
        <div class="flex w-full lg:w-1/6 lg:h-screen">
          <%= yield(:sidebar) %>
        </div>
        <div class="flex flex-wrap w-full px-6 pt-2 pb-6 lg:w-5/6 lg:p-8">
          <%= render('flashes') %>
          <%= yield %>
        </div>
      <% else %>
        <div class="flex flex-wrap w-full px-6 pt-2 pb-6 lg:p-8">
          <%= render('flashes') %>
          <%= yield %>
        </div>
      <% end %>
    </main>

    <footer>
      <%= yield(:footer) %>
    </footer>
  </body>
</html>
