<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(t('general.title'), yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_pack_tag('application') %>
    <%= render 'application/favicon' %>
  </head>
  <body class="flex flex-col min-h-screen bg-blue-lightest" style="min-height: 100vh">
    <header>
      <%= render('header') %>
    </header>

    <main class="flex flex-1 flex-wrap mx-auto w-full border-t-2 border-blue-lighter">
      <%= render('flashes') %>
      <%= yield %>
    </main>

    <footer>
      <%= yield(:footer) %>
    </footer>
  </body>
</html>
