<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0">
  <meta name="Description" content="Hitta certiferade kontrollansvariga nära dig!">
  <title>Apti - Hitta Kontrollansvariga nära dig!</title>
  <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
  <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
  <%= stylesheet_pack_tag('application', media: 'all') %>
  <%= javascript_pack_tag('application') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render('application/favicon') %>
</head>

<body class="flex flex-col">
  <header>
    <%= render('header') %>
  </header>
  <div class="flex-grow" data-behaviour="vue">
    <%= render('flashes') %>
    <%= yield %>
  </div>
</body>

</html>
