<div class="w-full mb-6">
  <h1>Hello <%= current_user.email %></h1>
</div>


<div class="w-full mb-2">
  <h2><%= t('.locations') %></h2>
</div>

<% @locations.each do |location| %>
  <%= render(location) %>
<% end %>

<div class="w-full mb-2">
  <h2 class="mb-1"><%= t('.services') %></h2>
</div>

<% if @services.any? %>
  <div class="w-full mb-2">
    <%= simple_format(t('.connected_services')) %>
  </div>
  <%= render(@services) %>
<% end %>

<% if @unused_services.any? %>
  <div class="w-full mb-2">
    <%= simple_format(t('.unused_services')) %>
  </div>
  <%= render(@unused_services) %>
<% end %>
